@model IEnumerable<UyduGoruntu.Models.City>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Şehir Adı</th>
            <th>Nüfus</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var city in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@city.Id" target="_blank">@city.Name</a>
                </td>
                <td>@city.Population</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@city.Id" class="btn btn-sm btn-warning">Düzenle</a>
                    <a asp-action="Delete" asp-route-id="@city.Id" class="btn btn-sm btn-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Yeni Şehir Ekle</a>

